<div class="flex flex-col w-full justify-center items-center bg-blue-500">
  <div class="text-4xl mt-10 text-black">Jansen</div>

  <div class="mt-10 text-black">
    <ul class="flex flex-row tracking-widest">
      <li class="mx-5">Home</li>
      <li class="mx-5">About</li>
      <li class="mx-5">Experience</li>
      <li class="mx-5">Portofolio</li>
      <li class="mx-5">Contact</li>
    </ul>
  </div>

  <div class="flex flex-row mt-10 mb-20">
    <a class="flex justify-center items-center hover:bg-slate-900 bg-slate-700 rounded-xl w-14 h-14 mx-3 text-2xl">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://linkedin.com/in/jansen-su-4a7471193" target="_blank" class="flex justify-center items-center hover:bg-slate-900 bg-slate-700 rounded-xl w-14 h-14 mx-3 text-2xl">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/jansensu19" target="_blank" class="flex justify-center items-center hover:bg-slate-900 bg-slate-700 rounded-xl w-14 h-14 mx-3 text-2xl">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>

  <div class="text-black mb-20">
    <p>&copy; Jansen. All rights reserved.</p>
  </div>
</div>
