<div class="flex flex-col w-full justify-center items-center bg-blue-500">
  <div class="text-2xl mt-10">Jansen</div>

  <div class="mt-10">
    <ul class="flex flex-row tracking-widest">
      <li class="mx-5">Home</li>
      <li class="mx-5">About</li>
      <li class="mx-5">Experience</li>
      <li class="mx-5">Portofolio</li>
      <li class="mx-5">Contact</li>
    </ul>
  </div>

  <div class="flex flex-row mt-10 mb-20">
    <div class="flex justify-center items-center bg-slate-700 rounded-xl w-10 h-10 mx-3">
      <i class="fa-brands fa-square-instagram"></i>
    </div>
    <div class="flex justify-center items-center bg-slate-700 rounded-xl w-10 h-10 mx-3">
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="flex justify-center items-center bg-slate-700 rounded-xl w-10 h-10 mx-3">
      <i class="fa-brands fa-github"></i>
    </div>
  </div>

  <div>
    <p>&copy; Jansen. All rights reserved.</p>
  </div>
</div>