<div class="flex flex-col flex-auto m-0 w-full">
  <app-hero-page></app-hero-page>
  <app-about-me></app-about-me>
  <app-experience></app-experience>
  <app-portofolio></app-portofolio>
  <app-contact></app-contact>
  <app-footer></app-footer>
  <a class="fixed sm:bottom-12 xxs:bottom-3 xxs:right-3 sm:right-12 z-99 " href="#" target="_blank" rel="noreferrer">
    <button mat-icon-button
      class="bg-gradient-to-tr from-green-800 to-green-500 hover:scale-105 hover:shadow-lg transition-shadow rounded-full">
      <mat-icon class="m-2">arrow_upward</mat-icon>
    </button>
  </a>
  <div class="fixed bottom-0 flex justify-center items-center w-full">

    <div class="flex flex-row my-3 px-2 bg-gray-700 transition-opacity opacity-75 rounded-full">
      <button mat-icon-button
        class="lg:text-xl text-md text-white mx-1 my-1 px-2 py-1 rounded-full hover:bg-slate-500">
        <mat-icon class="mt-1">home</mat-icon>
      </button>
      <button mat-icon-button
        class="lg:text-xl text-md text-white mx-1 my-1 px-2 py-1 rounded-full hover:bg-slate-500">
        <mat-icon class="mt-1">account_box</mat-icon>
      </button>
      <button mat-icon-button
        class="lg:text-xl text-md text-white mx-1 my-1 px-2 py-1 rounded-full hover:bg-slate-500">
        <mat-icon class="mt-1">library_books</mat-icon>
      </button>
    </div>
  </div>
</div>
