@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: repeating-linear-gradient(
    to right,
    rgb(10, 29, 80),
    rgb(10, 18, 80) 1%,
    rgb(11, 32, 72) 1%
  );
  color: white;
}

html, body { height: 100%; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
